

services:
  db:
   image: postgres:15
   container_name: mlops_postgres

   environment:
    POSTGRES_USER: postgres
    POSTGRES_PASSWORD: 1234
    POSTGRES_DB: MLOPS 

   ports:
    - "5432:5432"
   volumes: 
    - postgres_data:/var/lib/postgresql/data
    
  
  app:
   build: .
   container_name: mlops_app
   command: uvicorn src.api.main:app --host 0.0.0.0 --port 8000 --reload
   volumes:
    - .:/app
   ports:
    - "8001:8000"
   depends_on:
    - db 
   environment:
    DATABASE_URL: "postgresql+psycopg2://postgres:1234@db:5432/MLOPS"
    


volumes:
  postgres_data:
   