pandas
numpy
scikit-learn
catboost
dill

fastapi
uvicorn
pydantic
pydantic[email]
email-validator 

SQLAlchemy
psycopg2-binary

optuna
stdlib-list
setuptools

passlib[bcrypt]
python-jose
python-multipart
argon2-cffi
