name: project_CI

on:
  push:
    branches:
      - main 
      - master

jobs:

  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code 
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          pip install -r requirements.txt
          pip install dvc

  docker_build:
    needs: build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code 
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
          
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build & Push Docker Image
        run: | 
          docker build -t ${{ secrets.DOCKER_USERNAME }}/mlops-app:latest .
          docker push ${{ secrets.DOCKER_USERNAME }}/mlops-app:latest

  deploy:
    needs: docker_build
    runs-on: self-hosted       # deploy on your server

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install DVC
        run: pip install dvc

      - name: Pull DVC data from DagsHub
        env:
          DAGSHUB_USER: ${{ secrets.DAGSHUB_USER }}
          DAGSHUB_TOKEN: ${{ secrets.DAGSHUB_TOKEN }}
        run: |
          dvc remote modify dagshub auth basic
          dvc remote modify dagshub user $DAGSHUB_USER
          dvc remote modify dagshub password $DAGSHUB_TOKEN
          dvc pull

      - name: Pull latest Docker image
        run: docker pull ${{ secrets.DOCKER_USERNAME }}/mlops-app:latest

      - name: Stop old container (if exists)
        run: |
          if [ "$(docker ps -aq -f name=mlops-app)" ]; then
            docker rm -f mlops-app || true
          fi

      - name: Run new container
        run: |
          docker run -d \
            --name mlops-app \
            -p 8000:8000 \
            ${{ secrets.DOCKER_USERNAME }}/mlops-app:latest